{{!< default}}

<main id="gh-main" class="gh-main gh-outer">
    <div class="gh-inner">
        {{^is "paged"}}
            {{#get "posts" limit="1"}}
            {{#get "posts" filter="primary_tag:blog" limit="1"}}
                {{#foreach posts}}
                    <article class="gh-latest gh-card {{post_class}}">
                        <a class="gh-card-link" href="{{url}}">
                            <header class="gh-card-header">
                                <div class="gh-article-meta">
                                    <span class="gh-card-date">Latest — <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time></span>
                                </div>

                                <h2 class="gh-article-title gh-card-title">{{title}}</h2>
                            </header>

                            <p class="gh-article-excerpt">{{excerpt}}</p>

                            <footer class="gh-card-meta">
                                <span class="gh-card-duration">{{reading_time}}</span>
                                <span class="gh-card-meta-wrapper">
                                {{#if @site.comments_enabled}}
                                    {{comment_count class="gh-card-comments"}}
                                {{/if}}
                                </span>
                            </footer>
                        </a>
                    </article>
                {{/foreach}}
            {{/get}}
        {{/is}}

        <div class="gh-wrapper">
            <section class="gh-section">
                <h2 class="gh-section-title">More posts</h2>

                <div class="gh-feed">
                    {{^is "paged"}}
                        {{#foreach posts from="2"}}
                            {{> loop}}
                        {{/foreach}}
                    {{else}}
                        {{#foreach posts}}
                            {{> loop}}
                        {{/foreach}}
                    {{/is}}
                </div>

                {{#match posts.length "=" 1}}
                    Additional issues will be published soon.
                {{/match}}

                <button class="gh-loadmore gh-btn">Load more posts</button>
            </section>

            <aside class="gh-sidebar">
                <section class="gh-section">
                    <h2 class="gh-section-title">About</h2>

                    <div class="gh-about">
                        {{#if @site.icon}}
                            <img class="gh-about-icon" src="{{@site.icon}}" alt="{{@site.title}}">
                        {{/if}}

                        <section class="gh-about-wrapper">
                            <h3 class="gh-about-title">{{@site.title}}</h3>

                            {{#if @site.description}}
                                <p class="gh-about-description">{{@site.description}}</p>
                            {{/if}}
                        </section>
                    </div>

                </section>

                {{#get "posts" filter="primary_tag:book" limit="5" as |featured|}}
                    {{#if featured}}
                        <section class="gh-section">
                            <h3 class="gh-section-title">📖 Recent reads</h3>

                            <div class="gh-featured gh-feed">
                                {{#foreach featured}}
                                    {{> book-loop}}
                                {{/foreach}}
                            </div>
                        </section>
                    {{/if}}
                {{/get}}

                
            </aside>
        </div>
    </div>
</main>